@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lora|Montserrat|Volkhov|Josefin+Sans');
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: 
	linear-gradient(
		rgba(39,31,54,.9),
		rgba(73,76,82,.8)
		),
	url('../assets/img/imagen1.jpg');
	/*background-color: rgba(39,31,54,.8);*/

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
#texto-principal{
	color:white;
	font-family: 'Josefin Sans', 'Sans-serif';
	font-size: 2em;
	font-weight: bold;
}
#fondo-sobre-mi{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #271f36;
	background-attachment: fixed;
}
#habilidades{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color:#2B3E59;	
	background-attachment: fixed;
}
.hidden{
	display: none;
}
.contenedor-logo{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	display: flex;
	flex-direction: column;
	/*centra al contenido del contenedor*/
	justify-content: center;
	align-items:center;
}
.formato-contenedor{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.center{
	text-align: center;
}
.splash{
	background-color: #E5E2DB;
}
.splash h2 {
	color: #774434;
}
.texto-blanco{
	color: white;
}
.div-imagen{
	border:solid white 5px;
	height: 25vh;
}
.margin-cero{
	margin: 0;
}
.foto{
	width: 100%;
}
.foto > img{
	width: 50%;
	height: 20%;
	/*border-radius: 50%;*/
	border:solid white 5px;
}
.fila-descripcion{
	position: relative;
	top: 10%;
	/*border:solid red 4px;*/
}	
.subtitulo{
	text-align: justify;
	line-height: 1.5rem;
	font-size: 3rem;
	word-spacing: 2%;
	font-family: 'Josefin Sans', serif;
}
.texto-descripcion{
	text-align: justify;
	line-height: 1.5em;
	font-size: 2em;
	word-spacing: 2%;
	font-family: 'Josefin Sans', serif;
}

.fila-boton{
	width: 50%;
	height: 40px;
	border-radius: 10px;
	background-color: transparent;
	border:solid #ebaaab 3px;
}
.fila-boton  a{
	color:white;
	font-size: 2rem;
	font-family: 'Josefin Sans';
	text-decoration: none;
}
.fila-boton:hover {
	background-color: rgba(235, 170, 171,.8);
	border: solid 1px white;
} 
.fila-boton:hover a{
	color: #271f36;
	font-weight: bold;
}
.fila1{
	border:solid red 3px;
}